/* Elements */
body { margin: 0; display: flex; flex-direction: column; min-height: 100vh;}
textarea { width: 100%; padding: .5rem; border: none; resize: none; border-radius: 0; box-sizing: border-box; }
textarea:focus { outline: none; }
button { cursor: pointer; }
* { font-family: sans-serif; }

/*Sections*/

header { background-color: black; color: white; padding: 1rem 0; }
header .container ul { padding: none; display: flex; justify-content: space-around; margin: 0; }
header .container ul li { list-style-type: none; }

.main { background-color: darkgray; flex: auto; display: flex; flex: auto; flex-direction: column; }
.main .container { background-color: white; flex: auto; display: flex; border: 1px solid black; }
.main .container .col-1 { flex: auto; display: flex; flex-direction: column;}
.main .container .col-1 .log { flex: auto; display: flex; flex-direction: column; }
.main .container .col-1 .log .log-text { flex: auto; background-color: #fff7e3;}
.main .container .col-1 .command .textarea-button { display: flex; }
.main .container .col-1 .command .textarea-button .command-text { border-top: 1px solid black; }
.main .container .col-1 .command .textarea-button button { border: 1px solid black; }
.main .container .col-2 { background-color: #d0c7b0; width: 300px; border-left: 1px solid black; display: flex; flex-direction: column; }
.main .container .col-2 .notes { flex: auto; display: flex; flex-direction: column; }
.main .container .col-2 .notes .notes-text { flex: auto; margin-bottom: 3px; }  
.main .container .col-2 .notes .title { margin: 0; text-align: center; }
.main .container .col-2 .buttons { text-align: center; }
.main .container .col-2 .buttons button { margin-bottom: 3px; }

/*Modules*/

.container { max-width: 1024px; display: block; margin: auto; width: 100%; }