:root { --light-brown: #d0c7b0 }

/* Elements */
body { margin: 0; display: flex; flex-direction: column; height: 100vh; position: relative; }
textarea { width: 100%; padding: .5rem; border: none; resize: none; border-radius: 0; box-sizing: border-box; }
textarea:focus { outline: none; }
ul { padding: 0; }
li { list-style-type: none; }
button { cursor: pointer; }
* { font-family: sans-serif; }
*:focus { outline: none; }

/*Sections*/
header { background-color: black; color: white; padding: 1rem 0; }
header .container { display: flex; align-items: center; justify-content: space-between; }
header .container .logo { font-size: 20px; font-weight: bold; }
header .container .anotacoes { display: none; }
header .container ul { display: flex; justify-content: space-around; margin: 0; }
header .container ul li { margin-left: 3rem; }
header .container .hamburger { display: none; z-index: 999; }

.mobile-menu { z-index: 99; transition: 300ms ease-in; width: 100%; right: 100%; height: 100vh; position: fixed; display: none; background-color: black; }
.mobile-menu.active { right: 0%; }
.mobile-menu ul { position: absolute; top: 50%; text-align: center; color: white; width: 100%; transform: translateY(-50%); }

.main { background-color: darkgray; flex: auto; display: flex; flex-direction: column; }
.main .container { background-color: white; flex: auto; display: flex; border: 1px solid black; }
.main .container .col-1 { position: relative; flex: auto; display: flex; flex-direction: column;}
.main .container .col-1 .log-text { background-color: #fff7e3; padding: .5rem; height: calc(100vh - 70px - 73px); overflow: auto }
.main .container .col-1 .command .textarea-button { display: flex; height: 70px; }
.main .container .col-1 .command .textarea-button .command-text { border-top: 1px solid black;  }
.main .container .col-1 .command .textarea-button button { border: 1px solid black; border-bottom: none; border-right: none; }
.main .container .col-1 .command .textarea-button button:hover { background-color: #eaeaea; }
.main .container .col-2 { position: relative; background-color: var(--light-brown); min-width: 300px; border-left: 1px solid black; display: flex; flex-direction: column; }
.main .container .col-2 .notes { flex: auto; display: flex; flex-direction: column; }
.main .container .col-2 .notes .notes-text { flex: auto; border-top: 1px solid black; border-bottom: 1px solid black; }  
.main .container .col-2 .notes .title { margin: 0; text-align: center; padding: .5rem 0; }
.main .container .col-2 .notes .fechar { display: none; }
.main .container .col-2 .buttons { text-align: center; padding: .5rem; height: 53px; }
.main .container .col-2 .buttons .rola-dado input[type="number"] { width: 30px; text-align: center; }
.main .container .col-2 .buttons button { margin-bottom: 3px; }

.txtarea-copy { position: fixed; top: 10000px; }

/*Modules*/

.container { max-width: 1024px; display: block; margin: auto; width: 100%; }

.menu li >*,
.menu li >*:visited {  color: white; text-decoration: none; transition: 300ms; display: block; font-weight: bold; }
.menu li >*:hover { transform: scale(1.1); }

.copy { cursor: pointer; position: absolute; right: 0.5rem; top: 0.5rem }

@media (max-width: 768px) {
    body { height: initial; }

    .main .container { flex-direction: column; }
    .main .container .col-1 .log-text { background-color: #fff7e3; padding: .5rem; height: 65vh; overflow: auto }
    .main .container .col-2 { width: 100%; border-left: 0; }
    .main .container .col-2 .notes { display: none; position: fixed; left: 0; height: 70vh; bottom: 4px; width: 100%;}
    .main .container .col-2 .notes.active { display: block; }
    .main .container .col-2 .notes .title { display: none; }
    .main .container .col-2 .notes .fechar { border-left: 1px solid black; border-right: 1px solid black; display: block; background-color: var(--light-brown); padding: .5rem; text-align: center; }
    .main .container .col-2 .notes .notes-text { border: 1px solid; margin-bottom: -4px; height: calc(70vh - 34px); }
    .main .container .col-2 .buttons { border-top: 1px solid black; height: initial; }

    header { width: 100%; border: 1px solid black; }
    header .container .anotacoes { display: block; }
    header .container .logo { margin-left: 1rem; }
    header .container ul { display: none; }
    header .container .hamburger { display: block; margin-right: 1rem; width: 30px }
    header .container .hamburger .traco { height: 5px; background-color: white; }
    header .container .hamburger .traco.meio { margin: 5px 0; }

    .mobile-menu { display: block; }

    /*Modules*/
}